<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title><%= params.title %></title>

	<!-- Default favicon (for browsers that don't support media queries in link tags) -->
	<link rel="icon" href="/images/logo.dark.svg" type="image/svg+xml">

	<!-- Light mode favicon -->
	<link rel="icon" href="/images/logo.dark.svg" type="image/svg+xml" media="(prefers-color-scheme: light)">
	
	<!-- Dark mode favicon -->
	<link rel="icon" href="/images/logo.light.svg" type="image/svg+xml" media="(prefers-color-scheme: dark)">

	<script type='module' src='/scripts/header.js' defer></script>
	<% if (params.scripts) { %>
		<% for (let script of params.scripts) { %>
			<script type='module' src='/scripts/<%= script %>.js' defer></script>
		<% } %>
	<% } %>

	<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'>
	<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
	<link rel='stylesheet' href='/styles/main.css'>
	<% if (params.styles) { %>
		<% for (let style of params.styles) { %> 
			<link rel='stylesheet' href='styles/<%= style %>.css'>
		<% } %>
	<% } %>
</head>
<body data-theme="<%= user?.preferences?.theme ?? 'system' %>">
	<header>
		<h1>
			<picture id='logo' style="height: 40px">
				<source 
					srcset='/images/logo.dark.svg' 
					type='image/svg+xml'
					media='(prefers-color-scheme: light)'
				/>
				<source 
					srcset='/images/logo.light.svg' 
					type='image/svg+xml'
					media='(prefers-color-scheme: dark)'
				/>
				<img 
					src='/images/faveicon.ico'
					alt='Logo'
					height="100%"
				/>
			</picture>
			<%= params.header ?? params.title %>
		</h1>
		
		<% if (!params.links) { %>
			<nav>
				<% for (let link of [
					{ href: '/', text: 'Home' }, 
					{ href: '/chat', text: 'Chat' }
				]) { %>
					<a href='<%= link.href %>'><%= link.text %></a>
				<% } %>
			</nav>
		<% } else if (params.links.length) { %>
			<nav>
				<% for (let link of params.links) { %>
					<a href='<%= link.href %>'><%= link.text %></a>
				<% } %>
			</nav>
		<% } %>
	
		<% if (user) { %>
			<div id='user-profile'>
				<span>Hello <strong id='page-header-username'><%= user.username %></strong>!</span>
				<div id='profile-options'>
					<div>
						<a href='/user-profile'>User Profile</a>
						<hr>
						<button id='logout-button'>Logout</button>
					</div>
				</div>
			</div>
		<% } %>
	</header>

	<main>
		<%- include(`./pages/${page}.ejs`) %>
	</main>
</body>
</html>